---
include:
  - component: $CI_SERVER_FQDN/dev-ops/templates/automatisation/ci-cd/pipeline-generic-container-image-multistage@~latest
    inputs:
      container_image_build_context: "scheduler"
      container_image_build_enable_layer_development: "true"
      container_image_build_enable_layer_runtime: "false"
      container_image_build_enable_layer_test: "true"
      container_image_build_enable_layer_unlayered: "false"
      container_image_docker_file_path: "scheduler/Dockerfile"

variables:
    CI_DEBUG_TRACE: "true"
