---
include:
  - component: $CI_SERVER_FQDN/dev-ops/templates/automatisation/ci-cd/pipeline-python@~latest
    inputs:
      container_image_build_context: "src"
      container_image_docker_file_path: "src/Dockerfile"
      python_src_path: "src"
      python_root_package: "wis2_data_processing_chain"
      pipeline_enable_sonarqube: "false"
      secret_detection_pipeline_enable: "flase"
